.mainContainer {
  width: 400px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: rgb(121, 164, 165);
  padding-top: 1%;
}

.numbersContainer {
  display: flex;
  justify-content: space-evenly;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}
